<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Core.Engine.Engine" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Core.Engine.Engine>
            <setting name="ShaderLocation" serializeAs="String">
                <value>Data\Shaders</value>
            </setting>
            <setting name="ShaderCachePrefix" serializeAs="String">
                <value>_ShaderCache</value>
            </setting>
        </Core.Engine.Engine>
    </applicationSettings>
</configuration>